<div class="container col-sm-12">
	<div class="col-sm-3">
		<h3 class="text-center">Filtros</h3>
		<form id="convFilter" class="form-horizontal" action="/admin/conversations/filter">
      <div class="form-group">
        <label class="col-sm-4 control-label" for="keywords">A침o ingreso</label>
        <div class="col-sm-8">
          <select name="" class="form-control">
          	<option value="">2009</option>
          	<option value="">2010</option>
          	<option value="">2011</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="dialogAct">Carrera</label>
        <div class="col-sm-8">
        	<select name="" class="form-control">
          	<option value="">Ing. en Computaci칩n</option>
          	<option value="">Ing. en Construcci칩n</option>
          	<option value="">Arquitectura</option>
          </select>
        </div>
      </div>
      <div class="form-group">
        <label class="col-sm-4 control-label" for="slot">Estado deserci칩n</label>
        <div class="col-sm-8">
          <select name="" class="form-control">
          	<option value="">Bueno</option>
          	<option value="">Malo</option>
          	<option value="">Critico</option>
          </select>
        </div>
      </div>
      <div class="text-center">
      	<a href="#" class="btn btn-default">Filtrar</a>
      </div>
    </form>
	</div>
	<div class="col-sm-9">
		<h3 class="text-center">Estudiantes</h3>
		<div id="estudiantes_table">
			<%= render partial: 'estudiantes_table', locals: local_assigns %>
		</div>
	</div>
</div>