<%= content_for :javascript do %>   
  <%= javascript_include_tag "notas.js", "data-turbolinks-track" => true  %>
<% end %>

<div class="col-sm-6">
	<h1>Subir notas</h1>
	<input type="file" class="filestyle" data-buttonName="btn-primary" data-buttonBefore="true"><br>
	<div class="pull-right">
		<a href="#" class="btn btn-danger text-center">Cargar</a>
	</div>
</div>