<%= content_for :javascript do %>   
  <%= javascript_include_tag "subir_perfiles", "data-turbolinks-track" => true  %>
<% end %>
<h1>Subir estilos de aprendizaje</h1>

<%= form_for(file, url: subir_perfiles_path, html: {id: 'perfiles_form'}) do |f| %>
  <%= f.file_field(:url_archivo, data: {buttonName: 'btn-primary', buttonBefore: 'true'}) %>

  <div class="progress-wrapper">
    <div class="progress">
      <div class="progress-bar progress-bar-info" role="progressbar" aria-valuemin="0" aria-valuemax="100">
        0%
      </div>
    </div>
  </div>
<% end %>